@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

.app {
  background: #191919;
  min-height: 100vh;
  width: full;
  overflow-x: hidden;
  color: white;
}
span {
  color: #09dd6d;
  cursor: pointer;
}
.button-var-1 {
  padding: 5px 8px;
  font-size: 0.95rem;
  white-space: nowrap;
  border-radius: 10px;
  background: #191919;
  color: #09dd6d;
  border: 1px solid #09dd6d;
}
.button-var-2 {
  padding: 5px 8px;
  font-size: 0.95rem;
  white-space: nowrap;
  border-radius: 10px;
  background: #191919;
  color: #960000;
  border: 1px solid #960000;
}

.signup,
.login {
  background: rgb(25, 25, 25);
  background: linear-gradient(
    163deg,
    rgba(25, 25, 25, 1) 35%,
    rgba(9, 221, 109, 1) 200%
  );
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

